.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 0px;
  min-height: 100vh;
  height: auto;
  max-width: 100vw;
  background-color: rgba(167, 224, 247, 0.63);
}

.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 50vw;
}

.cart {
  height: 530px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 5px;
  margin-top: 80px;
  background-color: white;
}

.cart img {
  height: 200px;
  width: 200px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  border-radius: 10px;
  margin: 20px;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 220px;
  width: 280px;
  margin: 20px 20px 0px 20px;
}

.item-info h3 {
  margin: 5px 0px;
}

.item-info h4 {
  margin: 5px 0px;
}

.item-info button {
  border: none;
  font-size: 18px;
  margin-bottom: 5px;
}

.item-info button:hover {
  cursor: pointer;
}

.item-info .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 260px;
  border-radius: 5px;
}

.item-info .user-id img {
  height: 45px;
  width: 45px;
  border-radius: 30px;
  border: 1px black solid;
}

.item-labels {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

#item-description {
  height: 100px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  margin: 5px 10px 0px 0px;
  overflow: scroll;
}

#item-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#remove-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 300px;
}

#remove-button-container #remove-from-cart {
  height: 30px;
  width: 90px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 2px 3px #505050;
          box-shadow: 2px 3px #505050;
}

.empty-cart {
  height: 400px;
  width: 400px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  border-radius: 15px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
  position: -webkit-sticky;
  position: sticky;
  top: 220px;
}

.empty-cart h2 {
  text-align: left;
  padding: 10px 20px;
}

.empty-cart h2 #home-link {
  text-decoration: none;
}

.empty-cart h2 #home-link:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .cart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 0px;
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
    background-color: rgba(167, 224, 247, 0.63);
  }
  .cart-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    width: 50vw;
  }
  .cart {
    height: 415px;
    width: 275px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 5px;
    margin-top: 80px;
    background-color: white;
  }
  .cart img {
    height: 125px;
    width: 125px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 10px;
    margin: 10px 15px 0 15px;
  }
  .item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 220px;
    width: 280px;
    margin: 10px 20px 0px 20px;
  }
  .item-info h3 {
    margin: 5px 0px;
  }
  .item-info h4 {
    margin: 5px 0px;
  }
  .item-info button {
    border: none;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .item-info button:hover {
    cursor: pointer;
  }
  .item-info .user-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75px;
    width: 260px;
    border-radius: 5px;
  }
  .item-info .user-id img {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    border: 1px black solid;
  }
  .item-labels {
    color: black;
    font-weight: bold;
    font-size: 15px;
  }
  #item-description {
    height: 100px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    margin: 5px 10px 0px 0px;
    overflow: scroll;
  }
  #item-condition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #remove-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
    width: 300px;
  }
  #remove-button-container #remove-from-cart {
    height: 30px;
    width: 90px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 5px;
    font-weight: bold;
    -webkit-box-shadow: 2px 3px #505050;
            box-shadow: 2px 3px #505050;
    font-size: 7px;
  }
  .empty-cart {
    height: 250px;
    width: 250px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 15px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 220px;
  }
  .empty-cart h2 {
    text-align: left;
    padding: 10px 20px;
  }
  .empty-cart h2 #home-link {
    text-decoration: none;
  }
  .empty-cart h2 #home-link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 565px) {
  .cart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px;
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
    background-color: rgba(167, 224, 247, 0.63);
  }
  .cart-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    width: 50vw;
  }
  .cart {
    height: 365px;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 5px;
    margin-top: 80px;
    background-color: white;
  }
  .cart img {
    height: 100px;
    width: 100px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 10px;
    margin: 10px 15px 0 15px;
  }
  .item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 220px;
    width: 260px;
    margin: 0px 20px 0px 20px;
  }
  .item-info h3:hover {
    cursor: pointer;
  }
  .item-info h4 {
    margin: 5px 0px;
  }
  .item-info button {
    border: none;
    font-size: 15px;
    margin-bottom: 3px;
  }
  .item-info button:hover {
    cursor: pointer;
  }
  .item-info .user-id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75px;
    width: 260px;
    border-radius: 5px;
  }
  .item-info .user-id img {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    border: 1px black solid;
  }
  .item-labels {
    color: black;
    font-weight: bold;
    font-size: 15px;
  }
  #item-description {
    height: 100px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    margin: 5px 10px 0px 0px;
    overflow: scroll;
  }
  #item-condition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #remove-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
    width: 260px;
  }
  #remove-button-container #remove-from-cart {
    height: 20px;
    width: 60px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 5px;
    font-weight: bold;
    -webkit-box-shadow: 2px 3px #505050;
            box-shadow: 2px 3px #505050;
    font-size: 7px;
  }
  .empty-cart {
    height: 250px;
    width: 250px;
    border: 1px rgba(105, 105, 105, 0.747) solid;
    border-radius: 15px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 220px;
  }
  .empty-cart h2 {
    text-align: left;
    padding: 10px 20px;
  }
  .empty-cart h2 #home-link {
    text-decoration: none;
  }
  .empty-cart h2 #home-link:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=cart.css.map */