//variables
@import '../../Variables/variables.scss';
@import '../../Mixins/mixins.scss';

.cart-container {
    @include flexDisplayTwo(row);

    padding: 30px 0px;
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
}

.cart-items {
    @include flexDisplayTwo(row);
    flex-wrap: wrap;

    height: auto;
    width: 50vw;
}

.cart {
    height: 530px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 5px;
    margin-top: 80px;
    background-color: white;
    img {
        height: 200px;
        width: 200px;
        border: 1px $borderColor solid;
        border-radius: 10px;
        margin: 20px;
    }
}

.item-info {
    @include productFlex();

    height: 220px;
    width: 280px;
    margin: 20px 20px 0px 20px;
    h3 {
        margin: 5px 0px
    }
    h4 {
        margin: 5px 0px;
    }

    .user-id {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 75px;
        width: 260px;
        border: 1px solid black;
        border-radius: 5px;

        img {
            height: 45px;
            width: 45px;
            border-radius: 30px;
            border: 1px black solid;
        }
    }
}

.item-labels {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#item-description {
    height: 100px;
    border: 1px $borderColor solid;
    margin: 5px 10px 0px 0px;
    overflow: scroll;
}

#item-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remove-button-container {
    display: flex;
    justify-content: center;

    height: 40px;
    width: 300px;

    #remove-from-cart {
        height: 30px;
        width: 90px;
        border: 1px $borderColor solid;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 2px 3px rgb(80, 80, 80);
    }
}

.empty-cart {
    height: 400px;
    width: 400px;
    border: 1px $borderColor solid;
    border-radius: 15px;
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    position: sticky;
    top: 220px;

    // align-items: flex-start;
    h2 {
        text-align: left;
        padding: 10px 20px;

        #home-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}