@import '../../../Mixins/mixins.scss';
@import '../../../Variables/variables.scss';

.post-container {
    @include flexDisplayAuth(row);
    justify-content: space-around;
    
    height: 550px;
    position: sticky;
    left: 0px;
    top: 170px;
    margin-top: 50px;

    .new-product {
        height: 650px;
        width: 400px;
        border: 1px solid $borderColor;
        background-color: white;
        border-radius: 15px;
        margin-right: 20px;

        img {
            height: 200px;
            width: 200px;
            margin: 15px 0px;
            border-radius: 15px;
            overflow: hidden;
            border: 1px solid $borderColor;
        }
    }

    .product-input {
        @include productFlex();
        flex-direction: row;
        
        margin: 10px 10px;
        width: 350px;

        label {
            color: black;
            font-size: 20px;
        }

        input {
            padding: 5px 10px;
            border-radius: 5px;
            border-style: none;
            border: 1px solid $borderColor;
            height: 20px;
            width: 150px;
        }

        p {
            border: 1px dotted $borderColor;
            height: 40px;
            width: 150px;
            padding: 5px 0 0 0;
            border-radius: 5px;
        }
    }

    .product-input-img {
        @include productFlex();
        align-items: center;
        
        margin: 10px 10px;
        width: 400px;

        label {
            color: black;
            font-size: 20px;
        }

        input {
            padding: 5px 10px;
            border-radius: 5px;
            border-style: none;
            border: 1px solid $borderColor;
            height: 20px;
            width: 150px;
        }

        p {
            border: 3px dotted $borderColor;
            height: 40px;
            width: 150px;
            padding: 5px 0 0 0;
            border-radius: 5px;
        }
    }

    .custom-select {
        select {
            width: 150px;
            height: 25px;
        }
    }

    .add-button {
        @include flexDisplayAuth(row);
        height: 60px;
        width: 400px;

        button {
            height: 30px;
            width: 90px;
            border: 1px $borderColor solid;
            border-radius: 5px;
            font-weight: bold;
            box-shadow: 2px 3px rgb(80, 80, 80);
            margin: 10px;
        }
    }

    #description {
        padding: 5px 10px;
        border-radius: 5px;
        border-style: none;
        border: 1px solid $borderColor;
        height: 60px;
        width: 150px;
    }
}