//variables
@import '../../Mixins/mixins.scss';
@import '../../Variables/variables.scss';

.products-container {
    @include flexDisplayTwo(row);
    flex-wrap: wrap;

    padding: 20px 0px;
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
}

.products {
    height: 530px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 70px;
    margin-top: 100px;
    background-color: white;
    img {
        height: 200px;
        width: 200px;
        border: 1px $borderColor solid;
        border-radius: 10px;
        margin: 20px;
    }

    button {
        border: none;
        font-size: 18px;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.product-info {
    @include productFlex();

    height: 220px;
    width: 280px;
    margin: 20px 20px 0px 20px;
    h3 {
        margin: 5px 0px;

        &:hover {
            cursor: pointer;
        }
    }
    h4 {
        margin: 5px 0px;
    }

    .user-id {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 75px;
        width: 260px;
        border-radius: 5px;

        img {
            height: 45px;
            width: 45px;
            border-radius: 30px;
            border: 1px black solid;
        }
    }
}

.product-labels {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#product-description {
    height: 100px;
    width: 275px;
    border: 1px $borderColor solid;
    margin: 5px 10px 5px -6px;
    overflow: scroll;
}

#product-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#add-button-container {
    display: flex;
    justify-content: center;

    height: 40px;
    width: 300px;

    #add-to-cart {
        height: 30px;
        width: 90px;
        border: 1px $borderColor solid;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 2px 3px rgb(80, 80, 80);
        margin-top: 5px;
        font-size: 12px;
    }
}

@media (max-width: 580px){
    .products {
        height: 415px;
        width: 275px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px 50px;
        margin-top: 100px;
        background-color: white;
        img {
            height: 125px;
            width: 125px;
            border: 1px $borderColor solid;
            border-radius: 10px;
            margin: 10px 15px 0 15px;
        }
    
        button {
            border: none;
            font-size: 18px;
            margin-bottom: 5px;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .product-info {
        @include productFlex();
    
        height: 220px;
        width: 200px;
        margin: 10px 20px 0px 20px;
        h3 {
            margin: 5px 0px;
    
            &:hover {
                cursor: pointer;
            }
        }
        h4 {
            margin: 5px 0px;
        }
    
        .user-id {
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            height: 75px;
            width: 260px;
            border-radius: 5px;
    
            img {
                height: 35px;
                width: 35px;
                border-radius: 20px;
                border: 1px black solid;
            }
        }
    }
    
    .product-labels {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
    
    #product-description {
        height: 75px;
        width: 250px;
        border: 1px $borderColor solid;
        margin: 5px 10px 5px -6px;
        overflow: scroll;
    }
    
    #product-condition {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #add-button-container {
        display: flex;
        justify-content: center;
    
        height: 40px;
        width: 275px;
    
        #add-to-cart {
            height: 20px;
            width: 60px;
            border: 1px $borderColor solid;
            border-radius: 5px;
            font-weight: bold;
            box-shadow: 2px 3px rgb(80, 80, 80);
            margin-top: 5px;
            font-size: 7px;
        }
    }
}

@media (max-width: 325px){
    .products {
        height: 365px;
        width: 260px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px 50px;
        margin-top: 100px;
        background-color: white;
        img {
            height: 100px;
            width: 100px;
            border: 1px $borderColor solid;
            border-radius: 10px;
            margin: 10px 15px 0 15px;
        }
    
        button {
            border: none;
            font-size: 15px;
            margin-bottom: 3px;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .product-info {
        @include productFlex();
    
        height: 220px;
        width: 200px;
        margin: -5px 20px 0px 20px;
        h3 {
            // margin: 0px 0px;
    
            &:hover {
                cursor: pointer;
            }
        }
        h4 {
            margin: 5px 0px;
        }
    
        .user-id {
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            height: 75px;
            width: 260px;
            border-radius: 5px;
    
            img {
                height: 35px;
                width: 35px;
                border-radius: 20px;
                border: 1px black solid;
            }
        }
    }
    
    .product-labels {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
    
    #product-description {
        height: 75px;
        width: 250px;
        border: 1px $borderColor solid;
        margin: 5px 10px 5px -6px;
        overflow: scroll;
    }
    
    #product-condition {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #add-button-container {
        display: flex;
        justify-content: center;
    
        height: 40px;
        width: 260px;
    
        #add-to-cart {
            height: 20px;
            width: 60px;
            border: 1px $borderColor solid;
            border-radius: 5px;
            font-weight: bold;
            box-shadow: 2px 3px rgb(80, 80, 80);
            margin-top: 5px;
            font-size: 7px;
        }
    }
}



