// .auth
// .auth-container
@import '../../Mixins/mixins.scss';

.auth {
    @include flexDisplayAuth(row);

    height: 100vh;
    width: 100vw;
    background-color: rgb(37, 37, 37);
}

.login {
    @include flexDisplayAuth(column);

    height: auto;
    width: 100vw;
    background-color: rgb(37, 37, 37);
}

.register {
    @include flexDisplayAuth(column);

    height: 120vh;
    width: 100vw;
    background-color: rgb(37, 37, 37);
}


img {
    height: 225px;
    margin-top: 0;
    margin-bottom: 20px;
}

#profile-display {
    @include flexDisplayAuth(column);

    height: 200px;
    width: 200px;
    margin: 15px 0px;
    border-radius: 100px;
    overflow: hidden;
}

.login-container {
    @include flexDisplayAuth(column);

    height: 400px;
    width: 400px;
    border: 1px white solid;
    border-radius: 15px;
}

.register-container {
    @include flexDisplayAuth(column);

    height: 550px;
    width: 500px;
    border: 1px white solid;
    border-radius: 15px;
}

.input-container {
    margin: 10px 0px;

    input {
        padding: 5px 10px;
        border-radius: 5px;
        border-style: none;
        height: 25px;
        width: 150px;
    }
}

label {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.auth-p {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.buttons {
    @include flexDisplayAuth(column);

    height: 100px;

    #main-button {
        @include flexDisplayAuth(column);
    }

    #other-button {
        @include flexDisplayAuth(row);
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 22px;
        text-decoration: underline;
    }
}

.register-buttons {
    @include flexDisplayAuth(column);

    height: 100px;

    #main-register-button {
        @include flexDisplayAuth(column);
    }

    #other-register-button {
        @include flexDisplayAuth(row);
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 20px;
        text-decoration: underline;
    }
}
