.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  height: auto;
  max-width: 100vw;
  padding-top: 110px;
}

.search-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100vw;
}

.search-container .search input {
  height: 30px;
  width: 70%;
  border-radius: 15px;
  border: 1px solid black;
  padding-left: 10px;
  outline: none;
}

.search-container .search button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid white;
}

.search-container .products {
  height: 530px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 70px;
  margin-top: 100px;
  background-color: white;
}

.search-container .products img {
  height: 200px;
  width: 200px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  border-radius: 10px;
  margin: 20px;
}

.search-container .products button {
  border: none;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-container .products button:hover {
  cursor: pointer;
}

.search-container .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 220px;
  width: 280px;
  margin: 20px 20px 0px 20px;
}

.search-container .product-info h3 {
  margin: 5px 0px;
}

.search-container .product-info h4 {
  margin: 5px 0px;
}

.search-container .product-info .user-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 260px;
  border-radius: 5px;
}

.search-container .product-info .user-id img {
  height: 45px;
  width: 45px;
  border-radius: 30px;
  border: 1px black solid;
}

.search-container .product-labels {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.search-container #product-description {
  height: 100px;
  width: 275px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  margin: 5px 10px 5px -6px;
  overflow: scroll;
}

.search-container #product-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container #add-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 300px;
}

.search-container #add-button-container #add-to-cart {
  height: 30px;
  width: 90px;
  border: 1px rgba(105, 105, 105, 0.747) solid;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 2px 3px #505050;
          box-shadow: 2px 3px #505050;
  margin-top: 5px;
}
/*# sourceMappingURL=search.css.map */