@mixin flexDisplay(){
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header {
    @include flexDisplay();

    height: 100px;
    width: 100vw;
    background-color: black;
    text-align: center;
}

#search-button {
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    background-color: transparent;
    // @search-button:hover{

    // }
}
.left-links {
    @include flexDisplay();

    height: 100%;
    width: 100%;
}

.right-links {
    @include flexDisplay();

    height: 100%;
    width: 100%;
}

.header-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#header-logo {
    @include flexDisplay();

    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: white;
    font-size: 30px;
    border: 1px white solid;
   
}